.container{
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #1E1E1E;

  .formularios{
    width: 80%;
    height: 50vh;
    margin-top: 15%;
    display: flex;
    color: #fff;

    .linha-vertical {
      border-left: 1px solid;
      box-sizing: border-box;
     }

    .create-account{
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 3.5em;

      input, button{
        width: 400px;
        background-color: #1E1E1E;
        color: #fff;
      }

      button{
        background-color: #526bf5;
        padding: .5em;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
      }
    }
    .login-account{
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 3.5em;

      input, button{
        width: 400px;
        background-color: #1E1E1E;
        color: #fff;
      }

      button{
        background-color: #526bf5;
        padding: .5em;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
      }
    }

  }
}
