<div class="container">
  <div class="formularios">
    <div class="create-account">
      <h2>Já possui uma conta ? Login</h2>
      <br>
      <br>
      <span class="p-float-label">
        <input pInputText id="email" [(ngModel)]="value" type="email" />
        <label for="email">E-mail</label>
      </span>
      <br>
      <span class="p-float-label">
        <input pInputText id="password" [(ngModel)]="value" type="password" />
        <label for="password">Senha</label>
      </span>
      <br>
      <button>Entrar</button>
    </div>
    <div class="box linha-vertical">

    </div>
    <div class="login-account">
      <h2>Ainda não possui uma conta ? Criar</h2>
      <br><br>
      <span class="p-float-label">
        <input pInputText id="name" [(ngModel)]="value" />
        <label for="name">Nome</label>
      </span>
      <br>
      <span class="p-float-label">
        <input pInputText id="email" [(ngModel)]="value" type="email" />
        <label for="email">Username</label>
      </span>
      <br>
      <span class="p-float-label">
        <input pInputText id="email" [(ngModel)]="value" type="email" />
        <label for="email">E-mail</label>
      </span>
      <br>
      <span class="p-float-label">
        <input pInputText id="password" [(ngModel)]="value" type="password" />
        <label for="password">Senha</label>
      </span>
      <br>
      <button>Entrar</button>

    </div>
  </div>
</div>
